<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required #title="ngModel"><!--just using ngmodel says we are not using any bindings-->
      <mat-error *ngIf="title.invalid">Please enter a post title!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="5" name="content" ngModel required #content="ngModel">
<!--you can also add minlength="3" to set minimum length of the description-->
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content!</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color = "primary"
      type="submit">Save Post
    </button>
  </form>
</mat-card>
